<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

    <display-name>Petclinic RCP Web Services</display-name>
    
	<description>
    	Provides a web services interface to the Spring Rich Client Project (RCP) Petclinic Demo Application
    </description>

	<!--
	  - Location of the XML file that defines the root application context
	  - Applied by ContextLoaderListener.
	  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:/org/springframework/richclient/samples/petclinic/ctx/common/business-layer-context.xml
            classpath:/org/springframework/richclient/samples/petclinic/ctx/clientserver/security-context-server.xml
        </param-value>
	</context-param>

    <filter>
        <filter-name>Spring Security HTTP BASIC Authorization Filter</filter-name>
        <filter-class>org.springframework.security.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.springframework.security.ui.basicauth.BasicProcessingFilter</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>Spring Security System for Spring Auto Integration Filter</filter-name>
        <filter-class>org.springframework.security.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>org.springframework.security.adapters.HttpRequestIntegrationFilter</param-value>
        </init-param>
    </filter>

    <filter-mapping>
      <filter-name>Spring HTTP BASIC Authorization Filter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>Spring Security System for Spring Auto Integration Filter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
	<!--
	  - Loads the root application context of this web app at startup,
	  - by default from "/WEB-INF/applicationContext.xml".
	  - Use WebApplicationContextUtils.getWebApplicationContext(servletContext)
	  - to access it anywhere in the web application, outside of the framework.
    -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>ws</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

  <!--
	- Dispatcher servlet mapping for HTTP web services.
	- (see ws-servlet.xml for the controllers).
   -->
	<servlet-mapping>
		<servlet-name>ws</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
  
</web-app>
